<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>UserAction</servlet-name>
        <servlet-class>com.cms.controller.UserAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAjax</servlet-name>
        <servlet-class>com.cms.ajax.LoginAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistAjax</servlet-name>
        <servlet-class>com.cms.ajax.RegistAjax</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsAction</servlet-name>
        <servlet-class>com.cms.controller.NewsAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsTypeAction</servlet-name>
        <servlet-class>com.cms.controller.NewsTypeAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewsfileAction</servlet-name>
        <servlet-class>com.cms.controller.NewsfileAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadAction</servlet-name>
        <servlet-class>com.cms.controller.DownloadAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet</servlet-name>
        <servlet-class>com.cms.controller.DownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadServlet2</servlet-name>
        <servlet-class>com.cms.controller.DownloadServlet2</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>UserAction</servlet-name>
        <url-pattern>/userAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAjax</servlet-name>
        <url-pattern>/loginAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistAjax</servlet-name>
        <url-pattern>/registAjax</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsAction</servlet-name>
        <url-pattern>/newsAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsTypeAction</servlet-name>
        <url-pattern>/newsTypeAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewsfileAction</servlet-name>
        <url-pattern>/newsfileAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadAction</servlet-name>
        <url-pattern>/downloadAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet</servlet-name>
        <url-pattern>/DownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadServlet2</servlet-name>
        <url-pattern>/DownloadServlet2</url-pattern>
    </servlet-mapping>
</web-app>
